/* From the A11y Project */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.uha-admin-button__icon {
  margin-right: 0.5rem;
}

.uha-admin {
  border: 1px solid rgb(187, 187, 187);
}
.uha-admin--padded {
  padding: 1rem;
}

.uha-admin,
.uha-admin label, 
.uha-admin textarea, 
.uha-admin .components-button, 
.uha-admin .components-text-control__input {
  font-family: 'OpenSans', Verdana, sans-serif;
  font-size: 0.94375rem;
  line-height: 1.728;
  text-rendering: optimizeLegibility;
  font-kerning: normal; 
  margin-bottom: 0;
}
.uha-admin__block-label {
  font-size: 1.6308rem;
  padding-left: 1rem;
  padding-top: 1rem;
  display: flex;
  align-items: center;
}
.uha-admin__block-icon {
  width: 1.6308rem;
  height: 1.6308rem;
  margin-right: 1rem;
}
.uha-admin .components-base-control__label {
  opacity: 0.8;
}

.uha-admin__input {
  margin-bottom: 1rem;
}

.uha-admin__container {
  display: flex;
}

.uha-admin__container__side-content {
  padding: 1rem;
  flex: 50%;
  display: flex;
  flex-direction: column;
}

.uha-admin__rich-input {
  border-radius: 2px;
  border: 1px solid gray;
  background: white;
  width: 500px;
  max-width: 100%;
  padding: 0.5rem;
}
.uha-admin__rich-input:focus-visible {
  border: 1px solid blue;
  outline: 1px solid blue;
}

.uha-admin__option-group {
  border-left: 2px solid rgba(182, 182, 182, 0.445);
  padding-left: 1rem;
}

.uha-admin__item {
  padding-left: 1rem;
}

.uha-admin__shaded-group {
  /* background: #eaeaea; */
  padding: 2rem 1rem;
  margin: 2rem 0;
}

.uha-profile-showcase {
  padding: 1rem;
}
.wp-block[data-type="urbanheat/profile"] {
  margin-top: 0;
}
.wp-block[data-type="urbanheat/profile"]:nth-last-child(2) {
  margin-bottom: 0;
}
.uha-profile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 1rem;
  border: 1px solid gray;
}
.uha-profile__info {
  margin-left: 2rem;

}
.uha-profile__pic__prev__image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: white;
  border: 1px solid gray;
  overflow: hidden;
  line-height: 100px;
}
.uha-profile .uha-profile__pic__button {
  height: auto;
  border-radius: 100px;
  padding: 0;
}
.uha-profile__pic__button:hover,
.uha-profile__pic__button:focus {
  opacity: 0.75;
}
.uha-profile__pic__prev__image .uha-profile__pic__prev__image__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.uha-profile__pic__text {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}